@import url("../../node_modules/@fortawesome/fontawesome-free/css/fontawesome.min.css");
@import '../scss/base.scss';
@import '../scss/mixins.scss';
@import '../scss/variables.scss';


// General Styling
body {
    background: $forrest;
    font-family: $font-main;
    color: $creme;
}

.btn-cta {
    @include ctaBtnOrange;
    display: flex;
    align-items: center;
    gap: 1em;
    font-weight: $bold;
    transition: transform 300ms cubic-bezier(.68,-0.33,.87,1.81);
    transform-origin: bottom right;

    &:hover:not(.btn-cta.uppercase),
    &:focus:not(.btn-cta.uppercase) {
        color: #ff7c35;
        transform: scale(1.25)
    }

    &.uppercase {
        @include uppercase;
    }

    &.uppercase:hover,
    &.uppercase:focus {
        color: #ff7c35;
        transform: skewX(-.06turn)
    }



}




//// Typography
.logo {
    @include accentText;
    width: min-content;
    margin: 0;
    font-size: $logo;
}

.title {
    @include accentText;
    font-size: clamp(2.5rem, 4.5vw, 5rem); // ideal -->  2.875rem/46px/4.5vw
    margin: 1.5em 0 0 0;
    line-height: .35;
}

.title-secondary {
    @include uppercase;
    margin: 0;
    padding: 0;
    font-size: clamp(4rem, 10.5vw, 10rem);
    font-weight: $extra-bold;
    text-transform: uppercase;
}

.subtitle-cursive {
    @include accentText;
}

.subtitle-accent {
    @include ctaBtnOrange;
    font-weight: $bold;
}

.subtitle-thin {
    @include ctaBtnOrange;
    font-weight: $thin;
}

.subtitle-small {
    font-weight: $thin;
}


//// Cards

.card {
    background: #333B31;
    width: 325px; //actual 325px minofcol350px
    height: 520px;
    overflow: hidden;
    position: relative;
    //border-radius: 10px;

    &:hover {
        box-shadow: 15px 15px 25px 5px rgba(0, 0, 0, 0.25);
    }

    & .card-img  {
        width: 100%;
        height: 100%;
        position: static;
        background-position: center;
        background-size: cover;
        clip-path: polygon(0 0, 100% 0, 100% 40%, 0 100%);

        &.ani {
            background-image: url('../images/ani.jpg');
        }

        &.andre {
            background-image: url('../images/andre.jpg');
        }

        &.mica {
            background-image: url('../images/mica.jpg');
        }
    }

    & .card-body {
        position: absolute;
        bottom: 25px;
        right: 0px;
        padding-right: .75em;
        display: flex;
        flex-direction: column;
        align-items: flex-end;
    }

    .card-title {
        @include accentText;
        margin: 0;
        font-size: 2.55rem;
    }

    .subtitle-small {
        font-size: 1rem;
        margin-bottom: 1.25em;
    }

    .btn-cta {
        font-size: 1.1rem;
    }

}


//// Card Stack
.stack {
    //border: solid purple 2px;
    margin: 2.5em auto;
    padding: 1em;
    max-width: 1200px;
    min-height: 20vh;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(315px, 1fr)); //repeat as many times as will fit in the available space
    justify-items: center;
    gap: 2em;
}




//// Header
header {
    //border: solid red 2px;
    background: $forrest;
    padding: 2em 1em;
    display: flex;
    flex-direction: column;
    gap: 2.5em;
    

    & .logo {
        text-align: center;
    }

    & .nav-list,
    .social-links {
        //border: solid blue 2px;
        display: flex;
        justify-content: center;
        gap: 2.75em;
        transform-origin: center;
    }

    .social-link {
        font-size: 1.75rem;
    }

    .nav-list--link:hover,
    .nav-list--link:focus,
    .social-link:hover,
    .social-link:focus {
        transform: scale(1.5);
        color: $orange;
     }

    & li:nth-child(1) {order: 2;}
    & li:nth-child(2) {order: 1; align-self: center;}
    & li:nth-child(3) {order: 3; align-self: center;}

    @media (min-width: 768px) {
        padding: 1em;
        position: sticky;
        top: 0;
        z-index: 1000;
    }
}




//// Main
main {
    //border: solid red 2px;
    padding: 1.5em 0 4em 0;
    margin: 1em;
    display: flex;
    flex-direction: column;
    gap: 10em;
    background: linear-gradient(90deg, rgba(33,38,32,1) 0%, rgba(33,38,32,1) 15%, rgba(31,36,30,1) 15%,
    rgba(31,36,30,1) 20%, rgba(33,38,32,1) 20%, rgba(33,38,32,1) 22%, rgba(31,36,30,1) 22%,
    rgba(31,36,30,1) 27%, rgba(33,38,32,1) 27%, rgba(33,38,32,1) 29%, rgba(31,36,30,1) 29%,
    rgba(31,36,30,1) 34%, rgba(33,38,32,1) 34%, rgba(33,38,32,1) 36%, rgba(31,36,30,1) 36%,
    rgba(31,36,30,1) 41%, rgba(33,38,32,1) 41%, rgba(33,38,32,1) 43%, rgba(31,36,30,1) 43%,
    rgba(31,36,30,1) 48%, rgba(33,38,32,1) 48%, rgba(33,38,32,1) 50%, rgba(31,36,30,1) 50%,
    rgba(31,36,30,1) 55%, rgba(33,38,32,1) 55%, rgba(33,38,32,1) 57%, rgba(31,36,30,1) 57%,
    rgba(31,36,30,1) 62%, rgba(33,38,32,1) 62%, rgba(33,38,32,1) 64%, rgba(31,36,30,1) 64%,
    rgba(31,36,30,1) 69%, rgba(33,38,32,1) 69%, rgba(33,38,32,1) 71%, rgba(31,36,30,1) 71%,
    rgba(31,36,30,1) 76%, rgba(33,38,32,1) 76%, rgba(33,38,32,1) 78%, rgba(31,36,30,1) 78%,
    rgba(31,36,30,1) 83%, rgba(33,38,32,1) 83%);

    @media (min-width: 765px) {
        margin: 0 1em 1em 1em;
        gap: 20em;

    }
    @media (min-width: 1900px) {
        padding: 6em 0 5.5em 0;

    }

    // & section {
    //     border: solid 2px purple;
    // }

    & .hero {

        & .hero-img {
            box-shadow: $img-shadow;
        }

        & .subtitle-group {
            margin-top: 1em;;
            max-width: 700px;
            display: flex;
            justify-content: space-between;

            & :nth-child(2) {
                display: flex;
                align-items: flex-end;
            }
        }

        & .medium {
            font-size: 1.75rem;
        }

        @media (min-width: 765px) {

            &.hero {
                max-width: 1200px;
                margin: 2em auto 0 auto ;
                padding: 1em 2em;
                display: grid;
                grid-template-columns: 1fr 1fr 2fr 1fr;
                grid-template-rows: min-content min-content 3fr min-content;

                & .title {
                    margin: 0;
                    grid-column: 1 / -1;
                    align-self: end;
                }

                & .title-secondary {
                    align-self: start;
                    grid-column: 1 / -1;
                    grid-row: 2;
                    z-index: 100;
                }

                & .hero-img {
                    margin-top: 5em;
                    grid-column: 3 / -1;
                    grid-row: 2;

                    @media (min-width: 1500px) {
                        margin-top: 7em;
                    }
                }

                & .subtitle-group {
                    grid-column: 3 / -1;
                }
            }
        }
    }


    & .cta {
        margin: 0 auto;
        margin-top: 1.5em;

        & .cta-img {
            width: 100%;
            clip-path: polygon(0 0, 100% 0, 50% 100%, 0 100%);
        }

        & .cta-body {
            background: #2126207e;
            border-left: solid 10px #0000005e;
            margin: 2em 0 0 0;

            .wrapper {
                padding: 1em;
                display: flex;
                flex-direction: column;
                align-items: flex-start;

                & > h2 {
                    margin: 0 ;
                }

                & > p {
                    line-height: 1.4;
                }

                & > * {
                    &:not(:first-child) {
                        margin-top: 1.5em
                    }
                }
            }
        }

        @media (min-width: 1050px) {
            &.cta {
                max-width: 1200px;
                margin: 0 auto;
                display: flex;
                gap: 2.5em;
            }

            & .cta-body {
                border-left: none;
                border-right: solid 10px #0000005e;
                margin: 0;
                display: flex;
                justify-content: center;
                padding: 2em 0;

                & .wrapper {
                    width: 100%;
                    align-items: center;
                    justify-content: center;

                    & > p {
                        text-align: center;
                    }
                }
            }


        }

    }

    & .quote {
        margin-top: 1.5em;
        display: flex;
        flex-direction: column;

        & > .subtitle-cursive.large {
            margin: 0;
            font-size: clamp(3rem, 4.5vw, 6.2rem);
            text-align: center;
        }

        & .quote-img {
            box-shadow: $img-shadow;
        }

        & .quote-body {
            display: flex;
            flex-direction: column;
            align-items: flex-end;

            & > h2 {
                margin: 1rem 0 0 0 ;
                font-weight: $regular;
            }

            & > p {
                margin: .25em 0 1.75em 0 ;
            }
        }

        @media (min-width: 765px) {
            max-width: 1200px;
            margin: 0 auto;
            display: grid;
            grid-template-columns: repeat(3, 1fr);
        
            & .subtitle-cursive.large {
                grid-column: 1 / -1;
                grid-row: 1 / 2;
                z-index: 1;
            }

            & .quote-img {
                width: 60%;
                grid-column: 1 / -1;
                grid-row: 1 / 2;
                margin: 4.25em 0 0 0;
            }

            & .quote-body {
                max-width: max-content;
                grid-column: 3 /-1;
                grid-row: 1 / 2;
                align-self: end;
                align-items: flex-start;
            }
        }
    }

    & .sessions {

        & .sessions-body{
            text-align: center;
            max-width: 1200px;
            margin: 0 auto;
        }

        & .btn-cta.uppercase {
            width: max-content; //makes the box the width of the content inside
            margin: 4.5em auto;
            text-align: left;
        }
    }
}


//// Footer
footer {
    //border: solid red 2px;
    display: flex;
    width: 100%;
    min-height: 500px;
    margin-top: 5em;
    padding-top: 5.5em;
    padding-bottom: 5.5em;
    background-image: linear-gradient(86deg, #212620 25%, transparent), url(https://i.postimg.cc/N08VVdSB/IMG-7744-Edit.jpg);
    background-position: 0px 0px, 50% 50%;
    background-size: cover;
    background-repeat: no-repeat;


    & .footer__body {
      //border: solid yellow 2px;
      margin-left: 1.25em;

      // tablet
      @media (min-width: 750px) {
        margin-left: 5em;
      }

      // large screens
      @media (min-width: 1200px) {
        margin-left: 10em;
      }

      @media (min-width: 1800px) {
        margin-left: 25em;
      }

      // xl screens
      @media (min-width: 2800px) {
        margin-left: 35em;
      }

      .text-small {
        font-size: .75rem;
      }

      .subtitle-accent {
        margin-top: 2.5em;
      }

      .footer__nav {
          margin-top: 3em;
          display: flex;
          gap: 2em;
      }
      .social-links {
          display: flex;
          gap: 1.5em;
      }

    }
}
