// colors
$forrest: #212620;
$orange: #FF5900;
$creme: #FCF5CF;

// font family
$font-main: 'Libre Franklin', sans-serif;
$font-accent: 'Sedgwick Ave', cursive;

// font-weights
$thin: 100;
$regular: 400;
$bold: 700;
$extra-bold: 800;

// font-size
$h1: 5rem; // 80px
$h2: 2.5rem; //40px
$p: 1rem; //16px
$logo: 1.5rem; //24px

// shadows
$img-shadow: 0px 50px 50px 0 rgba(0, 0, 0, .25)

